body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set minimum height of the body to 100% of the viewport height */
  background-color: #fcecc9;
  color: #333; /* Main text color */
  font-family: 'Arial', sans-serif; /* Use a web-safe font */
}

.container {
  flex: 3; /* Allow the container to grow and take up remaining vertical space */
  background-color: #fcecc9;
  padding: 20px;
  border-radius: 100px;
  margin-top: 20px;
}

.custom-text {
  color: #f93943;
}

/* Navbar Styling */

.navbar {
  background-color: #fcb0b3;
}

.navbar-brand {
  color: #f93943;
  font-weight: bold;
  margin-right: 15px;
}

.navbar-toggler-icon {
  border-color: #f93943;
}

.navbar-nav .nav-link {
  color: #f93943;
}

.navbar-nav .nav-item.active .nav-link {
  color: #333;
  background-color: #f93943; /* Highlight active link background color */
}

/* Main Content Styling */

.list-group {
  margin-top: 20px;
}

.list-group-item {
  background-color: #fcb0b3;
  color: #333;
  border-color: #f93943;
}

/* Footer Styling */

.footer {
  background-color: #fcb0b3;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  margin-top: auto; /* Push the footer to the bottom */
}

